/*************************
COLORS
**************************/
h1                    {color: rgb(45,45,45);}

nav.main ul           {border-color: black; 
                       background: rgba(0,0,0,0.85);}

nav.main a:hover      {color: red;}

nav a, nav a:visited  {color: white;}

nav a.active          {border-top: red;
                       color: red;}

.resume a             {color: rgb(45,45,45);}

.resume a:hover       {color: black;}

#contact              {background-color: #c5ccd4;}

#contactlink          {color: inherit;}

#contactlink:hover    {font-weight: bold;}

#projects             {background: #f7f7f7;}

.grid-item            {background: #fbfbfb}


.item-btm             {color: rgb(90,90,90);}

.item-btm span        {background: lightgray;
                       color: black;}

/*a:hover, a:visited    {color:black;}*/

.item-btm span:hover {background: red;
                      color: white;}

.overlay              {background: rgba(0,0,0,.60);}
.overlay h2           {color: #FFF}
.overlay h3           {color: #cfcfcf;}
.overlay li, .modal li{color: #FFF;
                       background: red;}

.modal-title          {color: rgb(45,45,45);}

/***************
GENERAL STYLES
*****************/
html,body {
  font-family: 'Open Sans', sans-serif;
  height:100%;
  margin:0;
}

body {
  text-align: center;
}

a, a:visited {
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  padding: 0;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 1.9em;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 30px;
}

h2 {
  font-weight: 500;
  text-align: left;
  font-size: 0.95em;
  line-height: 1.7;
}

div.wrapper {
  /*max-width: 650px;*/
  margin: 0 auto;
  padding: 0 6%;  
}



/*************************
NAVIGATION
**************************/
nav.main {
  height: 50px;
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0px;
  z-index: 999;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

nav.main ul {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: block;
  border-top: 2px solid;
  text-align: center;
  padding: 0px 0px 0px 0px;
}

nav.main li {
  display:inline-block;
  margin-right: 2px;
  padding-bottom: 0px;
}

nav.main a {
  display: block;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 0;

}

nav.main a:hover {
  text-decoration: none;
}

nav a, nav a:visited {
  padding: 10px;
}

nav a.active  {
  border-top: 3px solid;
}

/**********************
INTRO SECTION
***********************/

#photo {
  display: block;
  width: 120px;
  height: 120px;
  margin: 25px auto;
  border-radius: 50%;  
}


div#home {
  background: url(../img/3a.jpg);
  background-position:center center;
  background-size: cover;
  padding-top: 0px;
  min-height: 100vh;
  margin: 0;
  background-attachment: fixed;
}

.resume {
  text-align: center;
  font-size: .75em;  
}

#contactlink {
  text-decoration: underline;
}

#contactlink:hover{
  font-weight: bold;
}

#banner-home {
  width: 100%;
  background: url(../img/green-dk.jpg) no-repeat left top/cover;
  height: 32px;
  display: block;
  border-bottom: 2px solid black;
}



/***********************************
PROJECTS PORTFOLIO
************************************/
.container {
  padding: 4%;
}

.container:before,
.container:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after {
  clear: both;
}

#projects {
  padding-top: 2px;
}

.grid-item {
  width: 95%;
  border-radius: 8px; 
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 13px;
  margin-bottom: 13px;
  text-align: center;
  display: inline-block;
  box-shadow: 0 1px 3px #7F7F7F;;
}

.grid-item img {
  min-height: 150px;
  width: 100%;
  border: 1px solid #EBEBEB
  
}

.item-top:hover img {
  transform: scale(1.1);
  /*transition:transform 3s linear;*/
  transition: all .3s linear ;
  border-top-left-radius:8px;
  border-top-right-radius: 8px;
}

.item-top {
  padding: 9px;
  background-position: center center;
  background-size: 364px 243px;
  overflow: hidden;
  position: relative;
  border-top-left-radius:8px;
  border-top-right-radius: 8px;
}

.item-btm {
  font-size: 0.9em;
  padding: 15px;
  text-align: left
}

.item-btm div {
  text-align: right;
  margin-top: 8px;
  vertical-align: baseline;
}

.item-btm p {
  text-align: left;
}

.item-btm span {
  padding: 5px 10px 5px 10px;
  border-radius: 5%;
  
  /*text-transform: uppercase;*/
}

.item-btm a {
  text-decoration: none;
}

/*Gallery Overlay*/

.overlay {  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align:center;
  border-top-left-radius:8px;
  border-top-right-radius: 8px;
  opacity:0;
  transition: all 0.3s ease-in-out;
  padding: 5px;
}

.overlay h2  {
  font-weight:900;
  font-size: 1.4em;
  text-align: center;
  margin: 0 0 7px 0;
  line-height: 1.1em;
}

.overlay h3 {
  font-style:italic;
  font-size: 0.9em;
  margin: 0;

}

.overlay li, .modal li {
  line-height: 32px;
  display: inline;
  border-radius: 4px;
  font-size: .8em;
  padding: 2px 4px;
}

.overlay-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item-top:hover .overlay {
  opacity:1;
}

/* MODALS */



.modal-footer {
  text-align:center;
  padding: 8px;
}
.modal li {  
  font-size: 0.8em;
  padding: 3px 3px;
}

.modal-body p {
  font-size: 0.8em;
  text-align: left;
  margin-top: 10px;
}

.modal-content {
  padding: 3px;
}

#close {
  text-align: right;
}

.close {
  float: right;
  margin-top: -2px;
  border: 0;
  font-size: 25px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}

.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}


/************************************
CONTACT SECTION
*************************************/

#contact {
  /*background: url(../img/contact3.jpg);*/
  padding-top: 5px;
  min-height: 100vh;
  margin: 0;
}

.contactinfo {
  margin: 20px 0 0 0;
}

h3.contactinfo {
  font-weight: bold;
  font-size: 1.0em;
}

/***************
Google Maps 
*****************/

#map {
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
  height: 210px;
}


